<h1>Twitter Search App</h1>
	<%= form_for @search, url: searches_path, remote: true do |f| %>
		<%= f.label :query %>
		<%= f.text_area :query %>
		<br>
		<%= f.submit "Search", class: "btn btn-success" %>
	<% end %>

	<div id="results">

	</div>